<entry>
    <title>{{&title}}</title>
    <id>{{id}}</id>
    <updated>{{&updated}}</updated>
    <summary type="html"><![CDATA[{{&summary}}]]></summary>
    <content type="html"><![CDATA[{{&content}}]]></content>
    <author>
        <name>{{&author.name}}</name>
        <email>{{&author.email}}</email>
        <uri>{{&author.uri}}</uri>
    </author>
</entry>
