<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>The 28msec Blog</title>
    <link>https://www.28.io/blog</link>
    <updated>2014-12-27T06:21:28Z</updated>
    <link rel="alternate" href="https://www.28.io/blog"/>
    <link href="http://www.28.io/data/blog/feed.xml"/>
    {{#entries}}
        {{> entry}}
    {{/entries}}
</feed>
